html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

#canvas {
  background-image: url("./assets/background.jpeg");
}

@font-face {
  font-family: "FlappyBird";
  src: url("./assets/04B_19.ttf");
}

#score {
  position: absolute;
  align-self: self-start;
  top: -30px;
  font-family: "FlappyBird";
  font-size: 48px;
  color: white;
  z-index: 1;
  text-shadow: 2px 2px 1px black;
}
