html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

#canvas {
  background-image: url("./assets/background.jpeg");
}

#score {
  position: absolute;
  top: 10px;
  left: 37%;
}
